body {
  background-color: rgb(203, 215, 231);
  height: 100vh;
}

table {
  border: 2px solid black;
  table-layout: auto;
  width: 150px;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}
